<ion-view view-title="User List">
  <ion-content>
    <ion-list>
      <ion-item
        class="item-remove-animate item-avatar item-icon-right item-button-right"
        ng-class="{'user-entered': user.enter}"
        ng-repeat="user in userList"
        type="item-text-wrap"
        ng-init="user.showEnterBtn = true; user.showLeaveBtn = false;">

        <img ng-src="{{user.face}}" />
        <h2 ng-bind="user.name"></h2>
        <p ng-show="user.enter" ng-bind-template="Enter: {{user.enter.timeString}}"></p>
        <button class="button button-positive" ng-click="userEnter(user)" ng-show="user.showEnterBtn">
          <i class="icon ion-checkmark-circled"></i>
        </button>
        <button class="button button-positive" ng-click="userLeave(user)" ng-show="user.showLeaveBtn">
          <i class="icon ion-close-circled"></i>
        </button>

        <!-- <ion-option-button class="button-assertive">
          Test
        </ion-option-button> -->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
